/* * {
    box-sizing: border-box;
}
*/

body {
  font-family: Arial Hervetica, sans-serif;
  margin: 0 auto;
  background-color: #eaeaea;
}

.code-font {
  font-family: "Droid Sans Mono";
  font-size: 22px;
}

.code-font-s {
  font-family: "Droid Sans Mono";
  font-size: 14px;
}

.container {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 550px) {
  .container {
    width: 100%;
  }
}

.hd-bg {
  background-image: url("/images/glasses.png");
  background-color: #534e4e;
  background-blend-mode: color-burn;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-height: 100%;

  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}

header a {
  color: #dbdbdb;
}

header a:hover {
  text-decoration: none;
}

header {
  width: 90%;
  margin: 0 auto;
}

.active {
  border-bottom: 1.3px;
  border-bottom-color: white;
  border-bottom-style: solid;
  padding-bottom: 2px;
}

.hd-left {
  float: left;
  padding: 3px;
  font-weight: 700;
  letter-spacing: 2px;
}

abbr {
  text-decoration: none;
}

.hd-right {
  float: right;
  padding: 3px;
  margin-top: 4px;
  word-spacing: 2rem;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

@media screen and (max-width: 550px) {
  .hd-left {
    float: none;
    display: block;
    text-align: center;
    font-size: 1.3rem;
  }
  .hd-right {
    float: none;
  }
  .hd-right a {
    display: block;
    text-align: center;
    margin-top: 1.2rem;
    font-size: 1.2rem;
  }
  .active {
    width: 57px;
    margin: auto;
  }
}

.hero {
  text-align: center;
  padding: 12em 0;
}

.hero img {
  margin-left: 6px;
  margin-right: 3px;
  border-radius: 5px;
}

.hero h1 {
  font-size: 3rem;
  font-family: Lucida Console, monospace;
}

.hero h1 span {
  font-size: 2.5rem;
  font-weight: lighter;
  font-family: Lucida Handwriting, cursive;
}

@media (max-width: 561px) {
  .hero {
    padding: 5rem 0;
  }
}

.column {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  min-width: 550px;
  margin: 4rem auto;
  border: 1px solid #dedede;
  min-height: 450px;
  /* CONTINUE FROM HERE */
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 8px 0;
}

@media (max-width: 550px) {
  .column {
    display: block;
    min-width: 40px;
    min-height: none;
    border-top-left-radius: 25px;
    width: 95%;
    padding-bottom: 1em;
  }
}

.img-resize {
  width: 40%;
  border-radius: 25px;
  border-top-left-radius: 0px;
  /*
    border: 2px solid #c4c4c4;
    */
  box-shadow: 2px 2px 8px;
}

@media (max-width: 550px) {
  .img-resize {
    width: 75%;
    margin-left: 12.5%;
    border-top-left-radius: 25px;
  }
}

.abt-me {
  width: 55%;
  max-width: 788px;
}

.abt-me h2 {
  margin-bottom: 0;
}

@media (max-width: 550px) {
  .abt-me h2,
  .abt-me p {
    text-align: center;
    padding: 0 2px;
  }
  .abt-me {
    width: 100%;
  }
}

.ui-ux {
  margin-top: 0;
}

.bar-chart {
  display: flex;
  background-color: #eaeaea;
  border-radius: 5px;
  margin: 0 auto;
  border: 1px #c4c4c4 solid;
  box-shadow: 1px 1px 8px 2px #afafaf inset;
}

.main-per {
  width: 80%;
  float: left;
  color: white;
  background-color: black;
  border-radius: 4px;
  padding: 0 4px;
}

.rem-per {
  background-color: #eaeaea;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.per2 {
  width: 60%;
}

.per3 {
  width: 95%;
}

.per4 {
  width: 65%;
}

.main-per span {
  float: right;
}

.main-per p,
.main-per span {
  margin: 2px;
  font-size: 0.85rem;
}

.main-per p {
  text-align: left;
}

@media (max-width: 550px) {
  .bar-chart {
    margin: auto 2px;
  }
}

.space {
  margin: 4%;
}

.button {
  margin-top: 8%;
}

.button a {
  border: 1.5px solid #000000;
  text-align: center;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 6px;
}

.btnCV {
  color: white;
  background-color: #0a0a0a;
}

.btnContact {
  color: black;
  background-color: #f8f8f8;
  font-weight: 700;
}

.button a:hover {
  background-color: olive;
  border: 1.5px solid olive;
}

@media (max-width: 550px) {
  .button {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 420px) {
  .button a {
    display: block;
  }
  .btnCV {
    margin-bottom: 10px;
  }
}

.lang {
  background-color: #d8d8d8;
  width: 100%;
  padding-bottom: 35px;
  padding-bottom: 55px;
}

.lang > h2 {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 10px;
}

.wrapper2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: 180px;
  background-color: #d8d8d8;
  width: 85%;
  margin: auto;
  min-width: 550px;
  text-align: center;
  font-family: "copperplate gothic", serif;
  font-size: 1.5rem;
}

.wrapper2 > div {
  background-color: white;
  margin: 1px;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 5px 5px 35px;
  position: relative;
  transition: bottom 3s linear;
}

.wrapper2 div:hover,
.wrapper2 div:active {
  bottom: 7px;
}

.wrapper3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: fit-content;
  /* background-color: #d8d8d8; */
  width: 85%;
  margin: auto;
  min-width: 550px;
  text-align: center;
  font-family: "copperplate gothic", serif;
  font-size: 1.5rem;
}

.wrapper3 > div {
  background-color: white;
  margin: 1px;
  border-radius: 4px;
  padding: 10px;
  padding-top: 25px;
  /* box-shadow: 5px 5px 35px; */
  position: relative;
  transition: bottom 3s linear;
}

@media (max-width: 550px) {
  .wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: 250px;
    width: 80%;
    margin: auto;
    min-width: 40px;
  }

  .wrapper2 div {
    padding: 2.5em 0;
  }
  .wrapper2 > div {
    margin-bottom: 15px;
  }

  .wrapper3 {
    display: block;
    width: 80%;
    margin: auto;
    min-width: 40px;
  }

  .wrapper3 div {
    padding: 2.5em 0;
  }
  .wrapper3 > div {
    margin-bottom: 15px;
    padding-top: 15px;
  }
}

.py-img {
  width: 45%;
  max-width: 77.7px;
  border-radius: 5px;
}

.proj {
  width: 100%;
}

.proj h2 {
  text-align: center;
  background-color: #eaeaea;
}

footer {
  font-family: "lato", sans-serif;
  background-color: #050538;

  color: beige;
}

.foot-color {
  margin: 0 auto;
  width: 90%;
  min-width: 550px;
}

.foot-clmn {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding: 10px;
}

.foot-clmn div:first-child {
  width: 46%;
}

.foot-clmn div:nth-child(2) {
  width: 25%;
}

.foot-clmn a {
  color: #f8a430;
}

.socials {
  margin: 6px 0;
}

.socials > a{
    margin-left: 3px;
    margin-right: 3px;
}

.socials img {
  border-radius: 5px;
}

.foot-clmn h4 {
  margin-bottom: 6px;
  font-family: "lucida Sans", sans;
}

@media (max-width: 550px) {
  .foot-color {
    min-width: 40px;
  }
  .foot-clmn {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .foot-clmn div:nth-child(2) {
    width: 100%;
  }
  .foot-clmn div:first-child {
    width: 100%;
  }
}

.foot {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 550px) {
  .foot {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .foot {
    display: block;
    text-align: center;
  }
}
